/* 幅に対して、高さは自動調整の場合 */
img{
    width: 200px;
    height: auto;
  }
  
  /* 高さに対して、幅は自動調整の場合 */
img{
  width: auto;
  height: 200px;
}

.animation {
  /*
  animation-name: hametsu-anime;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: none;
  animation-fill-mode: forwards;
  */
  width: 100px;
  height: 100px;
  background: #00BCD4;
  animation-name: hametsu-anime;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes hametsu-anime {
    0% {
        opacity:0;
        width:200px;
    }
    100% {
        opacity:1;
        width:200px;
    }
}
