/* 幅に対して、高さは自動調整の場合 */
img{
    width: 200px;
    height: auto;
  }
  
 body{
    padding-left: 800px;
    margin-top: 350px;
 }
  /* 高さに対して、幅は自動調整の場合 */
img{
  width: auto;
  height: 200px;
}

.animation {
  animation-name: hametsu-anime;
  animation-duration: 5s;
}

@keyframes hametsu-anime {
    from {
        opacity:0;
        width:200px;
    }
    to {
        opacity:1;
        width:200px;
    }
}
