<html>
<head>
   <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
   <title>{{.title}}</title>
   <style type="text/css" media="screen">
      @import url("/assets/css/hametsu.css");
    </style>
</head>
<body>
<div class="animation">
   <h1>{{.hametsu}}</h1>
   <img src="{{.s3url}}" id="sizeScale1">
   {{if .harakiri}} <br/ > <img src="https://jogo-jphack2019.s3.amazonaws.com/0dd11cca-9ce2-40d0-aea4-921c31dcdc35.jpg"> {{end}}
   {{if .harakiri}} <br/ > <img src="https://jogo-jphack2019.s3.amazonaws.com/0dd11cca-9ce2-40d0-aea4-921c31dcdc35.jpg"> {{end}}
   {{if .harakiri}} <br/ > <img src="https://jogo-jphack2019.s3.amazonaws.com/0dd11cca-9ce2-40d0-aea4-921c31dcdc35.jpg"> {{end}}
   {{if .harakiri}} <br/ > <img src="https://jogo-jphack2019.s3.amazonaws.com/0dd11cca-9ce2-40d0-aea4-921c31dcdc35.jpg"> {{end}}
   {{if .harakiri}} <br/ > <img src="https://jogo-jphack2019.s3.amazonaws.com/0dd11cca-9ce2-40d0-aea4-921c31dcdc35.jpg"> {{end}}
   {{if .harakiri}} <br/ > <img src="https://jogo-jphack2019.s3.amazonaws.com/0dd11cca-9ce2-40d0-aea4-921c31dcdc35.jpg"> {{end}}
   {{if .harakiri}} <br/ > <img src="https://jogo-jphack2019.s3.amazonaws.com/0dd11cca-9ce2-40d0-aea4-921c31dcdc35.jpg"> {{end}}
   {{if .harakiri}} <br/ > <img src="https://jogo-jphack2019.s3.amazonaws.com/0dd11cca-9ce2-40d0-aea4-921c31dcdc35.jpg"> {{end}}
   {{if .harakiri}} <br/ > <img src="https://jogo-jphack2019.s3.amazonaws.com/0dd11cca-9ce2-40d0-aea4-921c31dcdc35.jpg"> {{end}}
</div>
</body>
</html>
