<html>
<head>
   <title>{{.title}}</title>
   <style type="text/css" media="screen">
      @import url("/assets/css/hametsu.css");
    </style>
</head>
<body>
<div class="animation">
   <h1>{{.hametsu}}</h1>
   <img src="{{.s3url}}" id="sizeScale1">
</div>
</body>
</html>
