<!DOCTYPE html>
<html lang="ja">
   <style type="text/css" media="screen">
      @import url("/assets/css/hametsu.css");
    </style>
<head>
    <meta charset="UTF-8">
    <title>あぷろだ</title>
</head>
<body>
    {{.a}}
<form  method="POST" action="./upload" enctype="multipart/form-data">
        <h2 class="form-signin-heading">破滅登録</h2>
        <input name="hametsu_image" id="hametsu_image" type="file"  multiple="multiple">
        <button class="btn btn-lg btn-primary btn-block" type="submit">破?</button>
    </form>
    </body>
</html>
